        .fondo{
            background-image: url(../../portafolio/assets/img/bmth.jpg);
    
        }

        body{
            background-color: rgba(13, 13, 19, 0.815);
        }
        
      .bg-bod{
        background-color: rgba(13, 13, 19, 0.815);
      }
  